.addDeviceForm {
  position: absolute;
  min-width: 20%;
  height: 70vh;
  right: 0;
  padding: 10px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  top: 10%;
  z-index: 100;
  flex-direction: column;
}
.addDeviceForm.dark {
    background-color: var(--dark-secondary-color);
}
.addDeviceFormHeading {
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
}
.addDeviceFormContents {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-top: 30px;
}
.addDeviceFormDiscoveringImg {
  width: 250px;
  margin: auto;
  object-fit: cover;
}
.addDeviceFormDiscoveringImg img {
  width: 100%;
  margin: auto;
}
.addDeviceFormContentsDeviceListContents {
  display: flex;
  height: 40vh;
  margin-left: 30px;
  width: 80%;
  overflow: scroll;
  flex-direction: column;
  align-items: self-start;
}
.addDeviceFormContentsDeviceListItem {
  display: flex;
  gap: 10px;
}
.addDeviceFormContentsDeviceListItem.selectAll {
  margin-top: -20px;
  margin-bottom: 20px;
  justify-content: center;
  font-weight: 600;
  text-align: center;
}
.addDeviceFormContentsBtns {
  margin: auto;
  display: flex;
  gap: 10px;
  margin-top: 30px;
}
.addDeviceFormContentsSaveBtn {
  background-color: var(--light-green-color);
  color: white;
  width: 80px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}
.addDeviceFormContentsCancelBtn {
  background-color: var(--light-red-color);
  color: white;
  width: 80px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  border-radius: 10px;
}
