.alarms {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 90vh;
  margin: auto;
  border-radius: 20px;
  background-color: #eaf1fb;
}
.alarms.dark {
  background-color: var(--dark-secondary-color);
}
.alarmBtns {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.alamBtn {
  background-color: var(--light-heading-color);
  padding: 10px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}
.alamBtn:hover {
  background-color: var(--light-button-color);
}
.alamBtn.dark {
  color: var(--black-color);
}
