.kpiChart {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: white;
}
.kpiChart.dark {
  background-color: var(--dark-background-color);
}
.kpiLabel {
  padding: 10px;
  margin-top: -10px;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}
.kpi {
  min-width: 100%;
  min-height: 100%;
}
