.pointsDetailsProperties{
    overflow: scroll;
}
.pointsDetailsPropertiesContent {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: scroll;
}

.pointsDetailsPropertiesGroup {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.pointsDetailsPropertiesLabel {
  flex: 1.5;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
}

.pointsDetailsPropertiesData {
  flex: 2;
  text-align: left;
  font-size: 18px;
}
