.sidenav {
  position: fixed;
  display: flex;
}
.sidenavMenu {
  background-color: #eaf1fb;
  width: fit-content;
  text-align: center;
  padding: 10px;
  height: 97vh;
}
.sidenavMenu.dark {
  background-color: var(--dark-secondary-color);
  border: none !important;
}

.css-1wvake5 {
  width: 80px !important;
  border: none !important;
  min-width: 80px !important;
}
.sidenavMenuIndicator {
  margin-bottom: 40px;
  margin-top: 10px;
  cursor: pointer;
}
.sidenavMenuItem {
  height: 30px;
  border-radius: 50px;
  margin: auto;
}
.sidenavMenuIcon.dark {
  color: white;
  background-color: transparent;
}
.css-1t8x7v1 > .ps-menu-button {
  height: 18px !important;
  margin: auto !important;
  padding: 0 !important;
  background-color: none;
}
.css-1t8x7v1 > .ps-menu-button:hover {
  background-color: transparent !important;
}
.sidenavMenuIcon {
  width: 18px !important;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--font-color);
}
.sidenavMenuIcon.selected {
  background-color: #d1e5fb;
  border-radius: 50px;
}

.sidenavMenuIcon.dark.selected {
  color: black;
}
.sidenavMenuText {
  font-size: 14px;
  margin-top: -5px;
  margin-bottom: 20px;
}
.sidenavMenuBottomIcon {
  margin-top: 200px;
  cursor: pointer;
}
.sidenavMenuText.long {
  font-size: 12px;
}